---
import Page from "../layouts/page.astro";
import Contact from "../components/contact.astro";

let title = "Donna Louise - IMA Certified Makeup Artist";
let description = "Donna Louise, IMA Certified Makeup Artist";
let url = "/about";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm gutter align-items-center">
    <div class="cell-5">
      <h1>Hi.</h1>
      <p>Hi! I’m Donna and live in the beautiful county of Warwickshire, with my husband Mark and our three girls Thea, Evie and Kira.</p>
      <p>Following 16 years as a Design &amp; Technology teacher in secondary education, I took a break to explore what career would really make me happy to go to work every day. It was then I decided to use my love for art, creativity and beauty - and plunge into the fascinating world of make-up.</p>
      <p class="no-margin">I trained at the prestigious Central School of Make-up in Birmingham, completing two courses by the world-renowned International Make-Up Association.<br/>
        My qualifications are:
      </p>
      <ul>
        <li>Make-up Application Certificate</li>
        <li>Certificate in Creative Artistry</li>
      </ul>
      <p>I love using my skills and style to make people feel like the ultimate version of themselves, specialising in Bridal and Beauty make-up.</p>
      <p>Look forward to hearing from you!</p>

      <Contact />
    </div>
    <div class="cell-4 relative">
      <img src="/imgs/donna-profile.jpg" alt="Donna applying makeup on model" class="shadow" />
      <img src="/imgs/insurance-200x200.png" alt="Salon Gold Insurance" class="insurance drop-shadow" />
    </div>
  </div>

  <div class="flex container gap row col-sm pad">
    <div class="cell">
      <blockquote>“Amazing, Perfect makeup that lasted all day and into the night - highly recommend!”</blockquote>
      <figcaption>Rachel Williams</figcaption>
    </div>
  </div>
</Page>