---
import Page from "../layouts/page.astro";

let title = "Donna Louise | Beauty Makeup";
let description = "Donna provides beauty and fashion makeup, willing to travel to Birmingham and London for fashion shows and photo shoots.";
let url = "/beauty";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm gutter pad-b align-items-center">
    <div class="cell">
      <h1>Beauty.</h1>
    </div>
  </div>

  <div class="container gutter justify gallery">
    <img class="modal" src="/photos/CSM040721-0053-2-512.jpg" 
      srcset="/photos/CSM040721-0053-2-1024.jpg 1024w, /photos/CSM040721-0053-2-1536.jpg 1536w" 
      alt="Creative Shoot at @thecentralschoolofmakeup with @itssjadeb from @atlantismodels, photo by @garaziphoto."
      data-description="Creative Shoot at <a href='https://instagram.com/thecentralschoolofmakeup'>@thecentralschoolofmakeup</a> with <a href='https://instagram.com/itssjadeb'>@itssjadeb</a> from <a href='https://instagram.com/atlantismodels'>@atlantismodels</a>, photo by <a href='https://instagram.com/garaziphoto'>@garaziphoto</a>." />

    <img class="modal" src="/photos/CSM040721-0046-2-512.jpg" 
      srcset="/photos/CSM040721-0046-2-1024.jpg 1024w, /photos/CSM040721-0046-2-1536.jpg 1536w"
      alt="Creative Shoot at @thecentralschoolofmakeup with @itssjadeb from @atlantismodels, photo by @garaziphoto."
      data-description="Creative Shoot at <a href='https://instagram.com/thecentralschoolofmakeup'>@thecentralschoolofmakeup</a> with <a href='https://instagram.com/itssjadeb'>@itssjadeb</a> from <a href='https://instagram.com/atlantismodels'>@atlantismodels</a>, photo by <a href='https://instagram.com/garaziphoto'>@garaziphoto</a>." />

    <img class="modal" src="/photos/CSM040721-0065-2-512.jpg" 
      srcset="/photos/CSM040721-0065-2-1024.jpg 1024w, /photos/CSM040721-0065-2-1536.jpg 1536w"
      alt="Creative Shoot at @thecentralschoolofmakeup with @itssjadeb from @atlantismodels, photo by @garaziphoto."
      data-description="Creative Shoot at <a href='https://instagram.com/thecentralschoolofmakeup'>@thecentralschoolofmakeup</a> with <a href='https://instagram.com/itssjadeb'>@itssjadeb</a> from <a href='https://instagram.com/atlantismodels'>@atlantismodels</a>, photo by <a href='https://instagram.com/garaziphoto'>@garaziphoto</a>." />

    <img class="modal" src="/photos/IMG_4748-512.jpg" 
      srcset="/photos/IMG_4748-1024.jpg 1024w, /photos/IMG_4748-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/IMG_4518-512.jpg" 
      srcset="/photos/IMG_4518-1024.jpg 1024w, /photos/IMG_4518-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/IMG_4531-512.jpg" 
      srcset="/photos/IMG_4531-1024.jpg 1024w, /photos/IMG_4531-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/IMG_4829-512.jpg" 
      srcset="/photos/IMG_4829-1024.jpg 1024w, /photos/IMG_4829-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/IMG_6954-512.jpg" 
      srcset="/photos/IMG_6954-1024.jpg 1024w, /photos/IMG_6954-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/IMG_7069-512.jpg" 
      srcset="/photos/IMG_7069-1024.jpg 1024w, /photos/IMG_7069-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/12A7214-512.jpg" 
      srcset="/photos/12A7214-1024.jpg 1024w, /photos/12A7214-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/12A7216-512.jpg" 
      srcset="/photos/12A7216-1024.jpg 1024w, /photos/12A7216-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/20210918_164311-512.jpg" 
      srcset="/photos/20210918_164311-1024.jpg 1024w, /photos/20210918_164311-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/_MG_3834-512.jpg" 
      srcset="/photos/_MG_3834-1024.jpg 1024w, /photos/_MG_3834-1536.jpg 1536w" 
      alt=""
      data-description="" />

    <img class="modal" src="/photos/20210726_131021-512.jpg" 
      srcset="/photos/20210726_131021-1024.jpg 1024w, /photos/20210726_131021-1536.jpg 1536w"
      alt="Shoot day representing @thecentralschoolofmakeup at @atlantismodels for @traycieallen_official. Makeup by me on @_madigarcha" 
      data-description="Shoot day representing <a href='https://instagram.com/thecentralschoolofmakeup'>@thecentralschoolofmakeup</a> at <a href='https://instagram.com/atlantismodels'>@atlantismodels</a> for <a href='https://instagram.com/traycieallen_official'>@traycieallen_official</a>. Makeup by me on <a href='https://instagram.com/_madigarcha'>@_madigarcha</a>" />

    <img class="modal" src="/photos/_MG_3421-512.jpg" 
      srcset="/photos/_MG_3421-1024.jpg 1024w, /photos/_MG_3421-1536.jpg 1536w" 
      alt=""
      data-description="" />

    <img class="modal" src="/photos/_MG_3382-512.jpg" 
      srcset="/photos/_MG_3382-1024.jpg 1024w, /photos/_MG_3382-1536.jpg 1536w" 
      alt=""
      data-description="" />

    <img class="modal" src="/photos/_MG_3599-512.jpg" 
      srcset="/photos/_MG_3599-1024.jpg 1024w, /photos/_MG_3599-1536.jpg 1536w" 
      alt=""
      data-description="" />

    <img class="modal" src="/photos/_MG_1022-512.jpg" 
      srcset="/photos/_MG_1022-1024.jpg 1024w, /photos/_MG_1022-1536.jpg 1536w" 
      alt=""
      data-description="" />
      
    <img class="modal" src="/photos/_MG_3721-512.jpg" 
      srcset="/photos/_MG_3721-1024.jpg 1024w, /photos/_MG_3721-1536.jpg 1536w" 
      alt=""
      data-description="" />
      
    <img class="modal" src="/photos/lkim-512.jpg" 
      srcset="/photos/lkim-1024.jpg 1024w, /photos/lkim-1536.jpg 1536w" 
      alt=""
      data-description="" />
      
    <img class="modal" src="/photos/_MG_3723-512.jpg" 
      srcset="/photos/_MG_3723-1024.jpg 1024w, /photos/_MG_3723-1536.jpg 1536w" 
      alt=""
      data-description="" />
      
    <img class="modal" src="/photos/AG-HEAD-SHOTS-1-512.jpg" 
      srcset="/photos/AG-HEAD-SHOTS-1-1024.jpg 1024w, /photos/AG-HEAD-SHOTS-1-1536.jpg 1536w" 
      alt=""
      data-description="" />

    <img class="modal" src="/photos/AMA-HEAD-SHOTS-GIRLS0808-512.jpg" 
      srcset="/photos/AMA-HEAD-SHOTS-GIRLS0808-1024.jpg 1024w, /photos/AMA-HEAD-SHOTS-GIRLS0808-1536.jpg 1536w" 
      alt=""
      data-description="" />

    <img class="modal" src="/photos/AMA-HEADSHOTS-FEMALE-20982-512.jpg" 
      srcset="/photos/AMA-HEADSHOTS-FEMALE-20982-1024.jpg 1024w, /photos/AMA-HEADSHOTS-FEMALE-20982-1536.jpg 1536w" 
      alt=""
      data-description="" />

    <img class="modal" src="/photos/MADISON-TRAYCIE-20-512.jpg" 
      srcset="/photos/MADISON-TRAYCIE-20-1024.jpg 1024w, /photos/MADISON-TRAYCIE-20-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/MADISON-TRAYCIE-3-512.jpg" 
      srcset="/photos/MADISON-TRAYCIE-3-1024.jpg 1024w, /photos/MADISON-TRAYCIE-3-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/MADISON-TRAYCIE-27-512.jpg" 
      srcset="/photos/MADISON-TRAYCIE-27-1024.jpg 1024w, /photos/MADISON-TRAYCIE-27-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/BEN-TRAYCIE-99-512.jpg" 
      srcset="/photos/BEN-TRAYCIE-99-1024.jpg 1024w, /photos/BEN-TRAYCIE-99-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/BEN-TRAYCIE-90-512.jpg" 
      srcset="/photos/BEN-TRAYCIE-90-1024.jpg 1024w, /photos/BEN-TRAYCIE-90-1536.jpg 1536w"
      alt="" 
      data-description="" />

    <img class="modal" src="/photos/BEN-TRAYCIE-30-512.jpg" 
      srcset="/photos/BEN-TRAYCIE-30-1024.jpg 1024w, /photos/BEN-TRAYCIE-30-1536.jpg 1536w"
      alt="" 
      data-description="" />

  </div>
</Page>