---
import Page from "../layouts/page.astro";

let title = "Donna Louise - IMA Certified Makeup Artist";
let description = "Donna Louise, IMA Certified Makeup Artist";
let url = "/beauty";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm pad pad-b align-items-center">
    <div class="cell">
      <h1>Beauty.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="container pad pad-b justify gallery">
    <picture class="modal">
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-20-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-20-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-20-1024.webp 1x">
      <source srcset="/photos/MADISON - TRAYCIE-20-1920.jpg 2x">
      <source srcset="/photos/MADISON - TRAYCIE-20-1440.jpg 1.5x">
      <img src="/photos/MADISON - TRAYCIE-20-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>

    <picture class="modal">
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-3-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-3-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-3-1024.webp 1x">
      <source srcset="/photos/MADISON - TRAYCIE-3-1920.jpg 2x">
      <source srcset="/photos/MADISON - TRAYCIE-3-1440.jpg 1.5x">
      <img src="/photos/MADISON - TRAYCIE-3-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>

    <picture class="modal">
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-27-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-27-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-27-1024.webp 1x">
      <source srcset="/photos/MADISON - TRAYCIE-27-1920.jpg 2x">
      <source srcset="/photos/MADISON - TRAYCIE-27-1440.jpg 1.5x">
      <img src="/photos/MADISON - TRAYCIE-27-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>
    
    <picture class="modal">
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-24-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-24-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-24-1024.webp 1x">
      <source srcset="/photos/MADISON - TRAYCIE-24-1920.jpg 2x">
      <source srcset="/photos/MADISON - TRAYCIE-24-1440.jpg 1.5x">
      <img src="/photos/MADISON - TRAYCIE-24-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>
    
    <picture class="modal">
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-124-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-124-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-124-1024.webp 1x">
      <source srcset="/photos/MADISON - TRAYCIE-124-1920.jpg 2x">
      <source srcset="/photos/MADISON - TRAYCIE-124-1440.jpg 1.5x">
      <img src="/photos/MADISON - TRAYCIE-124-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>
    
    <picture class="modal">
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-126-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-126-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-126-1024.webp 1x">
      <source srcset="/photos/MADISON - TRAYCIE-126-1920.jpg 2x">
      <source srcset="/photos/MADISON - TRAYCIE-126-1440.jpg 1.5x">
      <img src="/photos/MADISON - TRAYCIE-126-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>
    
    <picture class="modal">
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-125-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-125-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/MADISON - TRAYCIE-125-1024.webp 1x">
      <source srcset="/photos/MADISON - TRAYCIE-125-1920.jpg 2x">
      <source srcset="/photos/MADISON - TRAYCIE-125-1440.jpg 1.5x">
      <img src="/photos/MADISON - TRAYCIE-125-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>
    
    <picture class="modal">
      <source type="image/webp" srcset="/photos/BEN - TRAYCIE-99-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/BEN - TRAYCIE-99-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/BEN - TRAYCIE-99-1024.webp 1x">
      <source srcset="/photos/BEN - TRAYCIE-99-1920.jpg 2x">
      <source srcset="/photos/BEN - TRAYCIE-99-1440.jpg 1.5x">
      <img src="/photos/BEN - TRAYCIE-99-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>

    <picture class="modal">
      <source type="image/webp" srcset="/photos/BEN - TRAYCIE-90-1920.webp 2x" >
      <source type="image/webp" srcset="/photos/BEN - TRAYCIE-90-1440.webp 1.5x" >
      <source type="image/webp" srcset="/photos/BEN - TRAYCIE-90-1024.webp 1x">
      <source srcset="/photos/BEN - TRAYCIE-90-1920.jpg 2x">
      <source srcset="/photos/BEN - TRAYCIE-90-1440.jpg 1.5x">
      <img src="/photos/BEN - TRAYCIE-90-1024.jpg" alt="Courtney Baldwin Wedding Shoot">
    </picture>
  </div>
</Page>