---
import Page from "../layouts/page.astro";

let title = "Donna Louise | Brdial and Wedding Makeup";
let description = "IMA Certified Makeup Artist specialising in bridal, prom, special occassions, and editorial work. Covering the West Midlands in the UK, including Southam, Leamington Spa, Rugby, Warwick, Stratford upon Avon, Conventry, and Birmingham.";
let url = "/bridal";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm gutter pad-b align-items-center">
    <div class="cell">
      <h1>Weddings.</h1>
      <p>There is nothing more rewarding than seeing a Bride on her wedding day looking beautiful, confident, and effortlessly radiant. I take great pride in creating a tailor-made skin care and make-up plan, for every Bride, that I have the honour of working with.</p>
      <p>On the consultation trial before the big day I will create a detailed plan of skincare products, depending on skin type, for a long-lasting base. Then, working with you, I discuss styles and make-up looks that reflect your wedding and importantly, your personality. Each Bride is unique, and your makeup should express this!</p>
      <p class="no-margin">I use some of the best luxury products such as:</p>
      <ul>
        <li>Giorgio Armani</li>
        <li>Charlotte Tilbury</li>
        <li>Dior</li>
        <li>NARS</li>
        <li>Bobbi Brown</li>
        <li>MAC</li>
        <li>&hellip; and many others!</li>
      </ul>

      <h3>Pricing</h3>
      <dl class="pricing gutter">
        <dt>Bridal Trial</dt>
        <dd>£45</dd>
        <dt>Bride</dt>
        <dd>£95</dd>
        <dt>Bridal Party</dt>
        <dd>£45 <span class="subtext">each</span></dd>
        <dt>Flower Girls (under 12)</dt>
        <dd>£15 <span class="subtext">each</span></dd>
      </dl>
      <p><a class="download" href="/bridal-enquiry-form.pdf" target="_blank">Bridal Enquiry Form <svg width="24" height="24" stroke="#fff" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8 17L12 21L16 17" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12V21" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.8799 18.09C21.7493 17.4786 22.4013 16.6061 22.7412 15.5991C23.0811 14.5921 23.0913 13.503 22.7703 12.4898C22.4493 11.4766 21.8138 10.5921 20.956 9.96456C20.0982 9.33703 19.0628 8.99916 17.9999 8.99999H16.7399C16.4392 7.82787 15.8764 6.73924 15.0941 5.81607C14.3117 4.89291 13.3301 4.15925 12.2231 3.67035C11.1162 3.18144 9.91278 2.95002 8.70346 2.99351C7.49414 3.037 6.31045 3.35426 5.24149 3.92142C4.17253 4.48858 3.24616 5.29084 2.53212 6.26782C1.81808 7.2448 1.33498 8.37104 1.11919 9.56174C0.903403 10.7524 0.960543 11.9766 1.28631 13.142C1.61208 14.3074 2.19799 15.3838 2.99993 16.29" stroke-linecap="round" stroke-linejoin="round"/></svg></a></p>
    </div>
    <div class="cell">
      <img class="modal" src="/photos/wedding-1-512.jpg" 
        srcset="/photos/wedding-1-1024.jpg 1024w, /photos/wedding-1-1536.jpg 1536w"
        alt="Courtney Baldwin" />
    </div>
  </div>

  <div class="container pad pad-b justify gallery">
    <img class="modal" src="/photos/wedding-2-512.jpg" 
      srcset="/photos/wedding-2-1024.jpg 1024w, /photos/wedding-2-1536.jpg 1536w"
      alt="Courtney Baldwin" />

    <img class="modal" src="/photos/wedding-3-512.jpg" 
      srcset="/photos/wedding-3-1024.jpg 1024w, /photos/wedding-3-1536.jpg 1536w"
      alt="Courtney Baldwin" />

    <img class="modal" src="/photos/wedding-4-512.jpg" 
      srcset="/photos/wedding-4-1024.jpg 1024w, /photos/wedding-4-1536.jpg 1536w"
      alt="Courtney Baldwin" />

    <img class="modal" src="/photos/CSM040721-182-512.jpg" 
      srcset="/photos/CSM040721-182-1024.jpg 1024w, /photos/CSM040721-182-1536.jpg 1536w"
      alt="Lauren Morley" />

    <img class="modal" src="/photos/CSM040721-173-512.jpg" 
      srcset="/photos/CSM040721-173-1024.jpg 1024w, /photos/CSM040721-173-1536.jpg 1536w"
      alt="Lauren Morley" />

    <img class="modal" src="/photos/CSM040721-169-512.jpg" 
      srcset="/photos/CSM040721-169-1024.jpg 1024w, /photos/CSM040721-169-1536.jpg 1536w"
      alt="Lauren Morley" />

  </div>
</Page>