---
import Page from "../layouts/page.astro";

let title = "Donna Louise | Brdial and Wedding Makeup";
let description = "IMA Certified Makeup Artist specialising in bridal, prom, special occassions, and editorial work. Covering the West Midlands in the UK, including Southam, Leamington Spa, Rugby, Warwick, Stratford upon Avon, Conventry, and Birmingham.";
let url = "/bridal";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-lg gutter pad-b align-items-center">
    <div class="cell">
      <h1>Weddings.</h1>
      <p>There is nothing more rewarding than seeing a Bride on her wedding day looking beautiful, confident, and effortlessly radiant. I take great pride in creating a bespoke look, for every Bride that I have the honour of working with.</p>
      <p>On the consultation trial before the big day I will create a detailed plan of skincare products, depending on skin type, for a long-lasting base. Then, working with you, I discuss styles and make-up looks that reflect your wedding and importantly, your personality. Each Bride is unique, and your makeup should express this!</p>
      <p class="no-margin">I use some of the best luxury products such as Giorgio Armani, Charlotte Tilbury, Dior, Lancôme, NARS, Bobbi Brown, MAC, and many others!</p>

      <h3>Pricing</h3>
      <dl class="pricing gutter">
        <dt>Bridal Trial</dt>
        <dd>£60</dd>
        <dt>Bride</dt>
        <dd>£120</dd>
        <dt>Bridal Party</dt>
        <dd>£60 <span class="subtext">each</span></dd>
        <dt>Flower Girls (under 12)</dt>
        <dd>£25 <span class="subtext">each</span></dd>
      </dl>
      <p><a class="download" href="/bridal-enquiry-form.pdf" target="_blank">Bridal Enquiry Form <svg width="24" height="24" stroke="#fff" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8 17L12 21L16 17" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12V21" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.8799 18.09C21.7493 17.4786 22.4013 16.6061 22.7412 15.5991C23.0811 14.5921 23.0913 13.503 22.7703 12.4898C22.4493 11.4766 21.8138 10.5921 20.956 9.96456C20.0982 9.33703 19.0628 8.99916 17.9999 8.99999H16.7399C16.4392 7.82787 15.8764 6.73924 15.0941 5.81607C14.3117 4.89291 13.3301 4.15925 12.2231 3.67035C11.1162 3.18144 9.91278 2.95002 8.70346 2.99351C7.49414 3.037 6.31045 3.35426 5.24149 3.92142C4.17253 4.48858 3.24616 5.29084 2.53212 6.26782C1.81808 7.2448 1.33498 8.37104 1.11919 9.56174C0.903403 10.7524 0.960543 11.9766 1.28631 13.142C1.61208 14.3074 2.19799 15.3838 2.99993 16.29" stroke-linecap="round" stroke-linejoin="round"/></svg></a></p>
    </div>
    <div class="cell">
      <div class="flex align-items-center row">
        <img class="border" style="max-width:50%;" src="/photos/bridal/wedding-1-512.jpg" 
          srcset="/photos/bridal/wedding-1-1024.jpg 1024w, /photos/bridal/wedding-1-1536.jpg 1536w"
          alt="Courtney Baldwin" />
        <img class="border" style="max-width:60%;margin:0 0 0 -10%;" src="/photos/bridal/20220702_2-512.jpg" 
          srcset="/photos/bridal/20220702_2-1024.jpg 1024w, /photos/bridal/20220702_2-1536.jpg 1536w"
          alt="" />
      </div>
      <br/>
      <q>What can I say, just absolutely amazing! Right from the get go at my make up trial, Donna listened and did exactly what I was looking for. Then to the wedding day, Donna made me feel relaxed and comfortable, doing exactly what I wanted on my wedding day.<br/>
      Donna is so so lovely with a brilliant sense of humour. She really takes her time with each client so that her work is perfect and a piece of art. I highly recommend Donna. Thank you so much for making me beautiful on my wedding day!</q><figcaption>Angela Sneath</figcaption>
      <br/>
      <div class="flex align-items-center row">
        <img class="border" style="max-width:50%;margin:80px -10% 0 0;position:relative;" src="/photos/bridal/20220702_115858-512.jpg" 
          srcset="/photos/bridal/20220702_115858-1024.jpg 1024w, /photos/bridal/20220702_115858-1536.jpg 1536w"
          alt="" style="width:310px;" />
        <img class="border" style="max-width:60%;margin:0 0 80px 0;" src="/photos/bridal/20220702_4-512.jpg" 
          srcset="/photos/bridal/20220702_4-1024.jpg 1024w, /photos/bridal/20220702_4-1536.jpg 1536w"
          alt="" />
      </div>
      <br/>
      <q>Donna came and did my make up trial and she was so lovely and professional, she did exactly what I wanted which was just a natural look. But one that lasted! She did such a gorgeous job I used her again before my wedding to do my make up for a friends wedding.<br/>Donna was absolutely brilliant in my wedding day, she made me feel totally comfortable and the make up was flawless. I loved having Donna here on the day. She was absolutely lovely from start to finish, no fuss. Which was exactly what I needed! Thank you so much Donna.</q><figcaption>Sophie Broome</figcaption>
    </div>
  </div>

  <div class="container pad pad-b justify gallery">
    <img class="modal" src="/photos/bridal/wedding-2-512.jpg" 
      srcset="/photos/bridal/wedding-2-1024.jpg 1024w, /photos/bridal/wedding-2-1536.jpg 1536w"
      alt="Courtney Baldwin" />

    <img class="modal" src="/photos/bridal/wedding-3-512.jpg" 
      srcset="/photos/bridal/wedding-3-1024.jpg 1024w, /photos/bridal/wedding-3-1536.jpg 1536w"
      alt="Courtney Baldwin" />

    <img class="modal" src="/photos/bridal/wedding-4-512.jpg" 
      srcset="/photos/bridal/wedding-4-1024.jpg 1024w, /photos/bridal/wedding-4-1536.jpg 1536w"
      alt="Courtney Baldwin" />

    <img class="modal" src="/photos/bridal/CSM040721-182-512.jpg" 
      srcset="/photos/bridal/CSM040721-182-1024.jpg 1024w, /photos/bridal/CSM040721-182-1536.jpg 1536w"
      alt="Lauren Morley" />

    <img class="modal" src="/photos/bridal/CSM040721-173-512.jpg" 
      srcset="/photos/bridal/CSM040721-173-1024.jpg 1024w, /photos/bridal/CSM040721-173-1536.jpg 1536w"
      alt="Lauren Morley" />

    <img class="modal" src="/photos/bridal/CSM040721-169-512.jpg" 
      srcset="/photos/bridal/CSM040721-169-1024.jpg 1024w, /photos/bridal/CSM040721-169-1536.jpg 1536w"
      alt="Lauren Morley" />


      
      <img class="modal" src="/photos/bridal/20220727_133227-512.jpg" 
      srcset="/photos/bridal/20220727_133227-1024.jpg 1024w, /photos/bridal/20220727_133227-1244.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220702_115315-512.jpg" 
      srcset="/photos/bridal/20220702_115315-1024.jpg 1024w, /photos/bridal/20220702_115315-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220813_113814-512.jpg" 
      srcset="/photos/bridal/20220813_113814-1024.jpg 1024w, /photos/bridal/20220813_113814-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220910_123222-512.jpg" 
      srcset="/photos/bridal/20220910_123222-1024.jpg 1024w, /photos/bridal/20220910_123222-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220910_122454-512.jpg" 
      srcset="/photos/bridal/20220910_122454-1024.jpg 1024w, /photos/bridal/20220910_122454-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220910_122501-512.jpg" 
      srcset="/photos/bridal/20220910_122501-1024.jpg 1024w, /photos/bridal/20220910_122501-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220820_124211-512.jpg" 
      srcset="/photos/bridal/20220820_124211-1024.jpg 1024w, /photos/bridal/20220820_124211-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220820_124219-512.jpg" 
      srcset="/photos/bridal/20220820_124219-1024.jpg 1024w, /photos/bridal/20220820_124219-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220820_125918-512.jpg" 
      srcset="/photos/bridal/20220820_125918-1024.jpg 1024w, /photos/bridal/20220820_125918-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220820_125853-512.jpg" 
      srcset="/photos/bridal/20220820_125853-1024.jpg 1024w, /photos/bridal/20220820_125853-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/bridal/20220727_133253-512.jpg" 
      srcset="/photos/bridal/20220727_133253-1024.jpg 1024w, /photos/bridal/20220727_133253-1536.jpg 1536w"
      alt="" />

      <img class="modal" src="/photos/special-occassions/20220813_111732-512.jpg" 
      srcset="/photos/special-occassions/20220813_111732-1024.jpg 1024w, /photos/special-occassions/20220813_111732-1536.jpg 1536w"
      alt="" />

  </div>

  <div class="container pad"><style>@import url(https://bridebook-images.imgix.net/assets/cms/badges/bridebook_badge_v2.css); @import url(//fonts.googleapis.com/css?family=Quicksand:700);</style><div class=bridebook-badge-compact-wrap><div class=bridebook-badge-compact-border><div class=bridebook-badge-compact-header>Featured on</div><a href="https://bridebook.com/uk/wedding-beauty-hair-makeup/donna-louise-mua-southam-warwickshire-csog490yZY?utm_source=shareBadge_csog490yZY&utm_medium=referral&utm_content=badgeProfile&utm_campaign=supplierShare_badge" target=_blank><div class=bridebook-badge-compact-intro>See our <br /> profile for</div><div class=bridebook-badge-compact-title>Donna Louise MUA</div></a><div class=bridebook-badge-compact-logo><a href="https://bridebook.com/uk/?utm_source=shareBadge_csog490yZY&utm_medium=referral&utm_content=badgeHome&utm_campaign=supplierShare_badge" target="_blank"><img alt="bridebook.com/uk/" src="https://bridebook-images.imgix.net/assets/cms/badges/logo-rounded_uk.png" title="bridebook.com/uk"></a></div></div></div></div>
</Page>