---
import Page from "../layouts/page.astro";
import Contact from "../components/contact.astro";

let title = "Donna Louise - IMA Certified Makeup Artist";
let description = "Donna Louise, IMA Certified Makeup Artist";
let url = "/contact";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm pad align-items-center">
    <div class="cell">
      <h1>Get in Touch.</h1>
      <p>Happy to answer any questions, feel free to send a message or call and I will be in touch within 24hrs.</p>
    </div>
    <div class="cell">
      <Contact />
    </div>
  </div>
</Page>
