---
import Layout from "../layouts/default.astro";
import Nav from "../components/nav.astro";

let title = "Donna Louise | IMA Certified Makeup Artist (MUA)";
let description = "Makeup Artist situated in Southam, Warwickshire, West Midlands, England, UK";
let url = "/";
---
<Layout title={title} description={description} url={url}>
  <div class="page bg zoom"></div>

  <div class="page flex col-reverse full-width justify">
  	<Nav url={url} />

    <h1 class="intro">Makeup Artist</h1>
  </div>
</Layout>