---
import Layout from "../layouts/default.astro";
import Nav from "../components/nav.astro";

let title = "Donna Louise | Make-Up Artist (MUA)";
let description = "IMA Certified Make-Up Artist offering bridal make-up, prom make-up, special occassions make-up, and editorial, photoshoots and commercial work. Covering the West Midlands area of the UK, including Southam, Leamington Spa, Rugby, Stratford upon Avon, Conventry, and Birmingham.";
let url = "/";
---
<Layout title={title} description={description} url={url}>
  <div class="page bg zoom"></div>

  <div class="page flex col-reverse full-width justify">
  	<Nav url={url} />

    <h1 class="intro">Makeup Artist</h1>
  </div>
</Layout>