---
import Head from "../components/head.astro";
import Nav from "../components/nav.astro";

let title = "Donna Louise - IMA Certified Makeup Artist";
let description = "Donna Louise, IMA Certified Makeup Artist";
let url = "/";
---
<!doctype html>
<html lang="en">
<head>
	<Head title={title} description={description} url={url} />
</head>
<body>
  <div class="page bg zoom"></div>

  <div class="page flex col full-width justify">
  	<Nav url={url} />

    <h1 class="intro">Makeup Artist</h1>
  </div>

</body>
</html>