---
import Page from "../layouts/page.astro";

let title = "Donna Louise - IMA Certified Makeup Artist";
let description = "Donna Louise, IMA Certified Makeup Artist";
let url = "/lessons";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm gutter align-items-center">
    <div class="cell">
      <h1>Lessons.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Pricing</h3>
      <dl class="pricing gutter">
        <dt>Individual</dt>
        <dd>£60 <span class="subtext">per hour (min 2hrs)</span></dd>
        <!-- <dt>Group</dt>
        <dd>£240 <span class="subtext">4 hours</span></dd> -->
      </dl>
    </div>
    <div class="cell">
      <img src="/photos/178694597_136913778448606_7365113640207906674_n-512.jpg" 
        srcset="/photos/178694597_136913778448606_7365113640207906674_n.jpg 750w"
        alt="" 
        data-description="" />
    </div>
  </div>

  <div class="flex container gap row col-sm pad">
    <div class="cell">
      <blockquote>“Donna&rsquo;s advice and tips have really made such a difference to my skin and how I apply my makeup!”</blockquote>
      <figcaption>Caroline Feneley</figcaption>
    </div>
  </div>
</Page>