---
import Page from "../layouts/page.astro";

let title = "Donna Louise | Special Occassion Makeup";
let description = "IMA Certified Makeup Artist specialising in bridal, prom, special occassions, and editorial work. Covering the West Midlands in the UK, including Southam, Leamington Spa, Rugby, Warwick, Stratford upon Avon, Conventry, and Birmingham.";
let url = "/special-occasions";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-lg gutter align-items-center">
    <div class="cell">
      <h1>Special Occasions.</h1>
      <p>Whether you are attending a prom, a corporate event, a wedding or another special celebration, I can create a beautiful, tailor-made look, just for you.</p>
      <p>After discussing your style, my special occasion make-up will enhance and highlight your natural beauty, leaving you feeling confident and glowing – all ready for the day and evening ahead.</p>
      <h3>Pricing</h3>
      <dl class="pricing gutter">
        <dt>Standard</dt>
        <dd>£60 <span class="subtext">each</span></dd>
        <dt>Creative</dt>
        <dd>£70 <span class="subtext">each</span></dd>
      </dl>
    </div>
    <div class="cell flex container row wrap relative fit">
      <div style="width:350px;margin:15px 0px 0 328px;position:absolute;">
        <img class="border" src="/photos/special-occassions/307577716_610004877251957_8811098704144808644_n-512.jpg" 
          srcset="/photos/special-occassions/307577716_610004877251957_8811098704144808644_n-1024.jpg 1024w, /photos/special-occassions/307577716_610004877251957_8811098704144808644_n-1440.jpg 1536w"
          alt="" />
      </div>
      <div  style="margin:480px 0 0;position:absolute;">
        <q>Amazing make up artist! Donna was professional and a perfectionist. I've had my make up done a few times and this was by far the best. Subtle yet made pictures look perfect. I've booked Donna for another wedding I was so impressed. Just wish she lived closer to me! Thanks Donna, amazing work 😆</q><figcaption>Alexandra Hallam</figcaption>
        <br/>
        <q>Donna did my make-up for my son’s wedding. My makeup was perfect and she was lovely. Total professional and so good at her job.</q><figcaption>Glynis Brown</figcaption>
      </div>
      <div style="width:220px;margin:780px 0 0 458px;position:absolute;">
        <img class="border" src="/photos/special-occassions/20220708_142009-512.jpg" 
          srcset="/photos/special-occassions/20220708_142009-1024.jpg 1024w, /photos/special-occassions/20220708_142009-1536.jpg 1536w"
          alt="" />
      </div>
      <div style="width:260px;margin:680px 0 0 220px;position:absolute;">
        <img class="border" src="/photos/special-occassions/20210702_124420-512.jpg" 
          srcset="/photos/special-occassions/20210702_124420-1024.jpg 1024w, /photos/special-occassions/20210702_124420-1536.jpg 1536w"
          alt="" 
          data-description="" />
      </div>
      <div style="width:240px;margin:730px 0 0;position:absolute;">
        <img class="border" src="/photos/special-occassions/20220708_172415-512.jpg" 
          srcset="/photos/special-occassions/20220708_172415-1024.jpg 1024w, /photos/special-occassions/20220708_172415-1536.jpg 1536w"
          alt="" />
      </div>
      <div  style="margin:1090px 0 0;position:absolute;">
        <q>Donna is so unbelievably talented, the prom makeup she did for my daughter was absolutely stunning! She was calm and patient while my daughter struggled to decide what colours she wanted and spoke to her the entire time we were there! Wonderful woman and wonderful work! We will definitely be recommending to everyone. Thank you!</q><figcaption>Yvonne Beasley</figcaption>
      </div>
      <div style="width:350px;margin:0 328px 708px 0;">
        <img class="border" src="/photos/special-occassions/20220831_103634-512.jpg" 
          srcset="/photos/special-occassions/20220831_103634-1024.jpg 1024w, /photos/special-occassions/20220831_103634-1536.jpg 1536w"
          alt="" />
      </div>
    </div>
  </div>

  <div class="container pad justify gallery">
    <img class="modal" src="/photos/special-occassions/307577716_610004877251957_8811098704144808644_n-512.jpg" 
      srcset="/photos/special-occassions/307577716_610004877251957_8811098704144808644_n-1024.jpg 1024w, /photos/special-occassions/307577716_610004877251957_8811098704144808644_n-1440.jpg 1536w"
      alt="" />

    <img class="modal" src="/photos/special-occassions/20220917_115530-512.jpg" 
      srcset="/photos/special-occassions/20220917_115530-1024.jpg 1024w, /photos/special-occassions/20220917_115530-1536.jpg 1536w"
      alt="" />

    <img class="modal" src="/photos/special-occassions/20220831_103634-512.jpg" 
      srcset="/photos/special-occassions/20220831_103634-1024.jpg 1024w, /photos/special-occassions/20220831_103634-1536.jpg 1536w"
      alt="" />

    <img class="modal" src="/photos/special-occassions/20220831_103641-512.jpg" 
      srcset="/photos/special-occassions/20220831_103641-1024.jpg 1024w, /photos/special-occassions/20220831_103641-1536.jpg 1536w"
      alt="" />

    <img class="modal" src="/photos/special-occassions/20220708_142004-512.jpg" 
      srcset="/photos/special-occassions/20220708_142004-1024.jpg 1024w, /photos/special-occassions/20220708_142004-1536.jpg 1536w"
      alt="" />

    <img class="modal" src="/photos/special-occassions/20220708_142009-512.jpg" 
      srcset="/photos/special-occassions/20220708_142009-1024.jpg 1024w, /photos/special-occassions/20220708_142009-1536.jpg 1536w"
      alt="" />

    <img class="modal" src="/photos/special-occassions/20220708_172415-512.jpg" 
      srcset="/photos/special-occassions/20220708_172415-1024.jpg 1024w, /photos/special-occassions/20220708_172415-1536.jpg 1536w"
      alt="" />
  
    <img class="modal" src="/photos/special-occassions/20220417_122738-512.jpg" 
      srcset="/photos/special-occassions/20220417_122738-1024.jpg 1024w, /photos/special-occassions/20220417_122738-1536.jpg 1536w"
      alt="Glynis Brown" />

    <img class="modal" src="/photos/special-occassions/20220417_122717-512.jpg" 
      srcset="/photos/special-occassions/20220417_122717-1024.jpg 1024w, /photos/special-occassions/20220417_122717-1536.jpg 1536w"
      alt="Glynis Brown" />
  </div>
</Page>