---
import Page from "../layouts/page.astro";

let title = "Donna Louise | Special Occassion Makeup";
let description = "IMA Certified Make-Up Artist offering bridal make-up, prom make-up, special occassions make-up, and editorial, photoshoots and commercial work. Covering the West Midlands area of the UK, including Southam, Leamington Spa, Rugby, Stratford upon Avon, Conventry, and Birmingham.";
let url = "/special-occasions";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm gutter align-items-center">
    <div class="cell-3">
      <h1>Special Occasions.</h1>
      <p>Whether you are attending a prom, a corporate event, a wedding or another special celebration, I can create a beautiful, tailor-made look, just for you.</p>
      <p>After discussing your style, my special occasion make-up will enhance and highlight your natural beauty, leaving you feeling confident and glowing – all ready for the day and evening ahead.</p>
      <h3>Pricing</h3>
      <dl class="pricing gutter">
        <dt>Standard</dt>
        <dd>£45 <span class="subtext">each</span></dd>
        <dt>Creative</dt>
        <dd>£55 <span class="subtext">each</span></dd>
      </dl>
    </div>
    <div class="cell-2">
      <img src="/photos/20210702_124420-512.jpg" 
        srcset="/photos/20210702_124420-1024.jpg 1024w, /photos/20210702_124420-1536.jpg 1536w"
        alt="" 
        data-description="" />
    </div>
  </div>

  <div class="flex container gap row col-sm pad">
    <div class="cell">
      <blockquote>“Amazing, Perfect makeup that lasted all day and into the night - highly recommend!”</blockquote>
      <figcaption>Rachel Williams</figcaption>
    </div>
  </div>
</Page>