---
import Page from "../layouts/page.astro";

let title = "Donna Louise - IMA Certified Makeup Artist";
let description = "Donna Louise, IMA Certified Makeup Artist";
let url = "/special-occassions";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm gutter align-items-center">
    <div class="cell">
      <h1>Special Occassions.</h1>
      <p>Freelance IMA Certified (International Makeup Association) artist, operating in the Warwickshire region in the UK.</p>
      <p>Specialising in Weddings, special occasions or personalised lessons to help take your makeup to the next level.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Pricing</h3>
      <dl class="pricing gutter">
        <dt>Prom</dt>
        <dd>£40 <span class="subtext">each</span></dd>
        <dt>Special Occassion</dt>
        <dd>£60 <span class="subtext">each</span></dd>
        <dt>Creative</dt>
        <dd>£70 <span class="subtext">each</span></dd>
      </dl>
    </div>
    <div class="cell">
      <picture class="modal">
        <source type="image/webp" srcset="/photos/178694597_136913778448606_7365113640207906674_n.webp 1.5x" >
        <source type="image/webp" srcset="/photos/178694597_136913778448606_7365113640207906674_n-500.webp 1x">
        <source srcset="/photos/178694597_136913778448606_7365113640207906674_n.jpg 1.5x">
        <img src="/photos/178694597_136913778448606_7365113640207906674_n-500.jpg" alt="Courtney Baldwin Wedding Shoot">
      </picture>
    </div>
  </div>
</Page>