---
import Page from "../layouts/page.astro";

let title = "Donna Louise | Special Occassion Makeup";
let description = "IMA Certified Makeup Artist specialising in bridal, prom, special occassions, and editorial work. Covering the West Midlands in the UK, including Southam, Leamington Spa, Rugby, Warwick, Stratford upon Avon, Conventry, and Birmingham.";
let url = "/special-occasions";
---
<Page title={title} description={description} url={url}>
  <div class="flex container gap row col-sm gutter align-items-center">
    <div class="cell-3">
      <h1>Special Occasions.</h1>
      <p>Whether you are attending a prom, a corporate event, a wedding or another special celebration, I can create a beautiful, tailor-made look, just for you.</p>
      <p>After discussing your style, my special occasion make-up will enhance and highlight your natural beauty, leaving you feeling confident and glowing – all ready for the day and evening ahead.</p>
      <h3>Pricing</h3>
      <dl class="pricing gutter">
        <dt>Standard</dt>
        <dd>£60 <span class="subtext">each</span></dd>
        <dt>Creative</dt>
        <dd>£70 <span class="subtext">each</span></dd>
      </dl>
    </div>
    <div class="cell-2">
      <img src="/photos/20210702_124420-512.jpg" 
        srcset="/photos/20210702_124420-1024.jpg 1024w, /photos/20210702_124420-1536.jpg 1536w"
        alt="" 
        data-description="" />
    </div>
  </div>

  <div class="flex container gap row col-sm pad">
    <div class="cell">
      <blockquote>“Amazing, Perfect makeup that lasted all day and into the night - highly recommend!”</blockquote>
      <figcaption>Rachel Williams</figcaption>
    </div>
  </div>

  
  <div class="container pad pad-b justify gallery">
    <img class="modal" src="/photos/20220417_122738-512.jpg" 
      srcset="/photos/20220417_122738-1024.jpg 1024w, /photos/20220417_122738-1536.jpg 1536w"
      alt="" />

    <img class="modal" src="/photos/20220417_122717-512.jpg" 
      srcset="/photos/20220417_122717-1024.jpg 1024w, /photos/20220417_122717-1536.jpg 1536w"
      alt="Courtney Baldwin" />
  </div>
</Page>