
.gallery{
    display: grid;
    grid-template-columns: auto;
    row-gap: 16px;
    column-gap: 16px;
    margin-bottom:24px;
}

@media (min-width: 576px) {
    .gallery {
        grid-template-columns: auto;
        row-gap: 16px;
        column-gap: 16px;
    }
}
@media (min-width: 768px) {
    .gallery {
        grid-template-columns: auto auto;
        row-gap: 24px;
        column-gap: 24px;
    }
}
@media (min-width: 992px) {
    .gallery {
        grid-template-columns: auto auto;
        row-gap: 32px;
        column-gap: 32px;
    }
}
@media (min-width: 1200px) {
    .gallery {
        grid-template-columns: auto auto auto;
        row-gap: 48px;
        column-gap: 48px;
    }
}
@media (min-width: 1460px) {
    .gallery {
        grid-template-columns: auto auto auto;
        row-gap: 56px;
        column-gap: 56px;
    }
}

.shadow { box-shadow: 0 0 32px #000; }
.drop-shadow{ filter: drop-shadow(0 0 12px rgba(0,0,0,0.6)); }
