.gallery img{ max-width: 368px; }

@media (min-width: 576px) {
    .gallery img{ max-width: 368px; }
}
@media (min-width: 768px) {
    .gallery img{ max-width: 368px; }
}
@media (min-width: 992px) {
    .gallery img{ max-width: 368px; }
}
@media (min-width: 1200px) {
    .gallery img{ max-width: 504px; }
}
@media (min-width: 1460px) {
    .gallery img{ max-width: 368px; }
}

.shadow { box-shadow: 0 0 32px #000; }

.gallery img:hover{
    box-shadow: 0 0 32px #000;
}