header {
  position: sticky;
  top:0;
  padding:32px 0;
  margin: 0 0 32px;
  transition: all 250ms, background 0;
}

html[data-scroll]:not([data-scroll='']) header{
  padding-top:24px;
  padding-bottom: 24px;
  margin-bottom: 96px;
  background:#0c0b10 url(/imgs/bg-1024.jpg) no-repeat fixed center top/cover;
  box-shadow: 0 -5px 3px -3px #0c0b10, 0 5px 3px -3px #0c0b10;
}
html[data-scroll]:not([data-scroll='']) header .logo{
  line-height: 64px;
}
html[data-scroll]:not([data-scroll='']) header .logo .icon{
  height:64px;
  width:64px;
}

/* header.dark{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%);
} */

.logo {
  color: var(--rose);
  font: bold 36px/100px 'Libre Baskerville', 'Georgia Pro', 'Times New Roman', serif;
  display: inline-block;
  text-decoration: none;
  filter: drop-shadow(0 0 10px #000);
  transition: all 250ms;
}
.logo:hover, .logo:visited { color:var(--rose); text-decoration: none; }

.logo .icon{ 
  float:left;
  margin-right: 32px;
  transition: all 250ms;
}

/* sm */
@media (max-width: 1200px) {
  header{
    padding-top:24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  header .logo{
    line-height: 64px;
  }
  header .logo .icon{
    height:64px;
    width:64px;
  }
  
  html[data-scroll]:not([data-scroll='']) header{
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  header .logo{ font-size: 26px; }
}
@media (max-width: 414px) {
  header .logo{ font-size: 21px; }
}
@media (max-width: 360px) {
  header .logo{ line-height: 1.5; }
}

.menu { padding: 0 0 0 20px; }
.menu .open, .menu .close{ display:none; cursor: pointer; position: relative; z-index: 1; }

.menu .open svg { stroke:#C67264; }
.menu .close svg { stroke:#fff; }

@media (max-width: 1200px) {
  .menu .open, .menu.active .close { display: block; }
  .menu .close, .menu.active .open { display: none; }
}

nav { padding:3px 0 0; display:flex; align-items: center; justify-content: center; gap:30px; }
nav a {
  font:bold 14px/1 Montserrat, Tahoma, Arial, sans-serif;
  color:var(--rose);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
nav a::before{
  width: 0;
  position: absolute;
  content: "";
  display: block;
  bottom: -6px;
  left:0;
  right:0;
  margin:0 auto;
  height: 3px;
  background: #C67264;
  border-radius: 2px;
  transition: width 0.25s ease-in-out;
}
nav a:hover::before, nav a:focus::before, nav a:active::before, nav a.active::before{
  width: 100%;
}

@media (max-width: 1200px) {
  .menu nav {
    position: fixed;
    right:0;
    top:0;
    bottom:0;
    background:#C67264e0;
    transition: 280ms fade ease-in-out;
    padding-top: 120px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu nav { display: none; }
  .menu.active nav { display: flex; }
  
  .menu nav a{
    display: block;
    margin: 10px 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  nav a::before{
    background: rgba(255,255,255,0.85);
  }
}


@keyframes fade {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0; }
  100% { display: block; opacity: 1; }
}
