.shadow { box-shadow: 0 0 32px #000; }
.drop-shadow { filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.6)); }


.modal {
    transition: all 250ms;
    cursor: pointer;
}
.modal:hover {
    box-shadow: 0 0 32px #000;
    transform: scale(1.04);
    z-index: 1;
}


#modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
    overflow: hidden;
    transition: all 250ms;
}
#modal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0c0b10 url(/imgs/bg-1024.jpg) no-repeat fixed center top/cover;
    opacity: 0.9;
    z-index: 11;
    transition: all 250ms;
    cursor: pointer;
}
#modal.active { display:block; }
body.no-scroll { overflow: hidden; }

#modal-close {
    z-index: 13;
    position: fixed;
    top: 16px;
    right: 32px;
    cursor: pointer;
}
#modal-close svg {
    stroke-width: 3px;
}

#modal-description {
    z-index: 13;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    line-height: 16px;
    margin: 20px 64px;
    text-align: center;
}

#modal #modal-image {
    position: relative;
    z-index: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 24px 24px 56px;
    pointer-events: none;
    opacity: 0;
}

#modal.active #modal-image.animate {
    opacity: 1;
    transition: all 400ms ease-in-out;
}

#modal-image img{
    max-height: 100%;
    pointer-events: auto;
}


.fade-in{
    animation:fade 500ms forwards 1 ease-in-out;
 }
 
.fade-out{
    animation:fade 500ms backwards 1 ease-in-out;
 }
 
@keyframes fade{
    0% {
        display:none;
    }
    1% {
        display:block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  