---
const { title, description, url } = Astro.props;

import Head from "../components/head.astro";
import Modal from "../components/modal.astro";
import Favicons from "../components/favicons.astro";

import '../css/style.css';
import '../css/header.css';
import '../css/modal.css';
import '../css/gallery.css';
import '../css/footer.css';
import '../css/typography.css';
import '../css/layout.css';
import '../css/reset.css';

let beacon = "{'token':'46fb7e8cbece49fa83776b83e7bf0408'}";
---
<!doctype html>
<html lang="en">
<head>
    <Favicons />
	<Head title={title} description={description} url={url} />
</head>
<body>
    <Modal />
    <slot />
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{beacon}"></script>
</body>
</html>