---
import '../css/reset.css';
import '../css/layout.css';
import '../css/typography.css';
import '../css/header.css';
import '../css/footer.css';
import '../css/gallery.css';
import '../css/modal.css';
import '../css/style.css';

import Head from "../components/head.astro";
import Modal from "../components/modal.astro";
import Favicons from "../components/favicons.astro";

const { title, description, url } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <Favicons />
	<Head title={title} description={description} url={url} />
</head>
<body>
    <Modal />
    <slot />
</body>
</html>
